/******** Dashboard **********/

.menu {
  margin: 10px auto;
  width: 70%;
  height: 50px;
}

.button-menu{
  width: 100%;
  height: 100%;
}

button {
  text-transform: uppercase;
}

/********** Employee detail *************/
.action-employee {
  margin-bottom: 10px;
}

.info div{
  margin-bottom: 10px;
}

.info #employeeID{
  color: red;
}

#header-jurisdiction{
  margin-top:20px;
  margin-bottom: 10px;
  weight: Bold;
  padding: 10px;
}

.jurisdiction input {
  margin-left: 40px;
}

.jurisdiction {
  margin-bottom: 20px;
}

/******* Seller list ********/
#search-seller div.row{
  margin-bottom: 10px;
}

#search-seller select {
  width: 100%;
  height: 34px;
}

/********* Seller detail **************/
h3 span {
  color: blue;
  text-decoration: underline;
  weight: bold;
}
